[Unit]
Description=rstp downloader service

[Service]
ExecStart=/usr/bin/ruby /opt/rstpdownloader/rstpDownloader.rb -c /var/opt/rstpdownloader/config.json
Restart=always
type=simple

[Install]
WantedBy=multi-user.target