[Unit]
Description=rtsp downloader service

[Service]
ExecStart=/usr/bin/ruby /opt/rtspdownloader/rtspDownloader.rb -c /var/opt/rtspdownloader/config.json
Restart=always
type=simple

[Install]
WantedBy=multi-user.target